{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/c6c3a50631.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans+Condensed:ital,wght@1,300&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Merit</title>
</head>
<body>
    <div class="container-fluid">
        {% include 'navbar.html' %}
        <br>
        <div style="font-weight: bold;">
            <p> The following API end points will give you data on 
                Users of Merit and the all the Projects submitted on Merit for rating </p>

            <p>For data on Users : http://127.0.0.1:8000/api/profiles</p>
            <P>For data on Projects : http://127.0.0.1:8000/api/projects</P>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>
</html>