{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/c6c3a50631.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Merit</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h3 class="heading">Merit</h3>
            <hr>
            <p>Rating your skills is what we do best</p>
        </div>
        {% for project in projects %}
        <div class="card" style="width: 201px;">
            <div class="card-header">
                <div class="circular-image">
                <img class="profile_photo" src="{{image.profile.profile_photo.url}}">
                </div> &nbsp;
                <b class="user">{{ project.user.username }}</b>
            </div>
            <a href="{% url 'project' project.id %}">
            <img class="card-img-top" src="{{ project.landing_page_image.url }}"  style="width: 200px; height: auto;" alt="Card image cap">
            </a>
            <div class="card-body">
            {{project.post_date|date:"l d-F Y"}}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>